*
{
    box-sizing: border-box;
}

.column1 
{
  	float: left;
  	width: 20%;
  	padding: 10px;
    margin-left: 35%;
}

.column2 
{
  	float: left;
  	width: 20%;
  	padding: 10px;
    margin-right: 0px;
}

/* Clear floats after the columns */
.row:after 
{
    content: "";
    display: table;
    clear: both;
}

H1
{
    font-size: 24px;
    text-align: center;
}


